<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="app">

    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.USE_CREDENTIALS"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>

    <meta-data
        android:name="android.support.VERSION"
        android:value="25.3.1"
        tools:replace="android:value"/>
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.camera.flash"
        android:required="false"/>
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true"/>

    <application
        android:name="app.CustomApplication"
        android:allowBackup="false"
        android:icon="@drawable/icon_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/Theme.App">

        <activity
            android:name=".delivering.component.main.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.SplashScreen"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

            <!-- Branch URI Scheme -->
            <intent-filter>
                <data android:scheme="qorum" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>

            <!-- Branch App Links (optional) -->
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="https" android:host="@string/server_host" />
                <data android:scheme="https" android:host="31v1.test-app.link" />
                <data android:scheme="https" android:host="31v1-alternate.test-app.link" />
            </intent-filter>
        </activity>

        <activity
            android:name=".delivering.component.zendesk.ZendeskActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:theme="@style/Theme.App">
        </activity>

        <activity
            android:name=".delivering.component.authenticator.AuthenticatorActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:theme="@style/Theme.SplashScreen">
        </activity>

        <activity
            android:name=".delivering.component.bar.detail.BarDetailActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize|uiMode"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:theme="@style/Theme.App">
            <intent-filter>
                <action android:name="com.google.android.exoplayer.demo.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="http"/>
                <data android:scheme="https"/>
                <data android:scheme="content"/>
                <data android:scheme="asset"/>
                <data android:scheme="file"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".delivering.component.ride.order.OrderRideActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.App">
        </activity>

        <activity
            android:name=".delivering.component.payment.add.AddPaymentActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/Theme.App">
        </activity>

        <activity
            android:name=".delivering.component.advert.VideoAdvertActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.App">
        </activity>

        <activity
            android:name=".delivering.component.feedback.FeedbackActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.App">
        </activity>

        <activity
            android:name=".delivering.component.bar.detail.menu.BarDetailRootMenuActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.App">
        </activity>

        <activity
            android:name=".delivering.component.tab.TabActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"
            android:launchMode="singleTop"
            android:theme="@style/Theme.Transparent">
        </activity>

        <activity
            android:name=".delivering.component.bar.detail.checkin.CheckInSplashScreenActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Transparent">
        </activity>

        <activity android:name=".delivering.component.ride.auth.RedirectAuthActivity"
                  android:exported="false"
                  android:screenOrientation="portrait"/>

        <activity android:name=".delivering.component.bar.detail.about.activity.AboutBarViewActivity"
                  android:screenOrientation="portrait"
                  android:theme="@style/Theme.Transparent"/>

        <activity android:name=".delivering.component.bar.detail.about.video.AboutBarVideoActivity"
                  android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize|uiMode"
                  android:launchMode="singleTop"
                  android:theme="@style/Theme.Transparent">
            <intent-filter>
                <action android:name="com.google.android.exoplayer.demo.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="http"/>
                <data android:scheme="https"/>
                <data android:scheme="content"/>
                <data android:scheme="asset"/>
                <data android:scheme="file"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".delivering.component.tab.close.CloseTabActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:theme="@style/Theme.Transparent">
        </activity>

        <activity
            android:name=".delivering.component.starttour.activity.StartTourActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.App">
        </activity>

        <activity
            android:name=".delivering.component.terms.TermsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.App">
        </activity>

        <activity
            android:name="io.card.payment.CardIOActivity"
            android:configChanges="keyboardHidden|orientation"/>

        <activity android:name="io.card.payment.DataEntryActivity"/>

        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat"/>

        <activity android:name=".delivering.component.profile.age.InitialCheckAgeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Transparent" />

        <activity
            android:name=".delivering.component.main.location.InitialLocationReasonActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Transparent" />

        <activity
            android:name="app.delivering.component.main.account.InitialAccountReasonActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Transparent" />

        <activity
            android:name=".delivering.component.verify.VerifyPhoneNumberActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/Theme.Transparent"/>

        <activity
            android:name=".delivering.component.verify.VerifyEmailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/Theme.Transparent"/>

        <activity
            android:name=".delivering.component.payment.list.PaymentsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Transparent"  />

        <activity android:name=".delivering.component.main.version.TimeToUpdateActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.App"/>

        <activity android:name=".delivering.component.main.bluetooth.EnableBluetoothActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.App" />

        <activity android:name=".delivering.component.bar.market.SearchMarketActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.SplashScreen"  />

        <activity android:name=".qamode.component.QaModeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.App" />

        <activity android:name=".delivering.component.locationblocker.LocationBlockerActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustNothing"
            android:theme="@style/Theme.App"/>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="728450fb2746847a2681c3b2ce6c5d0eac72e476" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCXxUTceufkY2tFggWNSo8NIg7218bH7WY"/>
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"/>
        <meta-data
            android:name="uber.clientId"
            android:value="@string/uber_client_id"/>
        <meta-data
            android:name="uber.serverToken"
            android:value="@string/uber_server_token"/>

        <!-- Required for API level 28. -->
        <uses-library android:name="org.apache.http.legacy" android:required="false" />

        <!-- Branch init -->
        <meta-data android:name="io.branch.sdk.BranchKey" android:value="key_live_gkgHz06YuwaGJlNGyNulGaffssljXr4a" />
        <meta-data android:name="io.branch.sdk.BranchKey.test" android:value="key_test_lonMu00XwqeTKeROuLEpGgnkFCfh5v2E" />
        <meta-data android:name="io.branch.sdk.TestMode" android:value="false" /> <!-- Set to true to use Branch_Test_Key -->

        <!-- Set custom default icon. This is used when no icon is set for incoming notification messages. -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/svg_logo" />
        <!-- Set color used with incoming notification messages. This is used when no color is set for the incoming -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/accent" />

        <service
            android:name=".delivering.component.service.authenticator.AuthenticatorService">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator"/>
            </intent-filter>
            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator"/>
        </service>

        <service android:name=".delivering.component.service.checkin.TabStatusForegroundService"/>

        <service android:name=".delivering.component.ride.mock.MockRideService"/>

        <service android:name=".delivering.component.service.order.DeleteOrderService"/>

        <service android:name=".delivering.component.push.FirebaseCloudMessagingService"
            android:stopWithTask="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

        <service android:name=".delivering.component.service.beacon.BeaconService"/>

        <receiver android:name=".delivering.component.service.beacon.broadcast.BackgroundBroadcastReceiver"/>

        <receiver android:name=".delivering.component.invite.receiver.FreeDrinkSenderReceiver">
            <intent-filter>
                <action android:name="android.intent.extra.CHOSEN_COMPONENT"/>
            </intent-filter>
        </receiver>

        <!-- Branch install referrer tracking (optional) -->
        <receiver android:name="io.branch.referral.InstallListener" android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>

        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider1670534059850817"
            android:exported="true"/>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.qorum.android.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/profile_photo_provider_paths" />
        </provider>
    </application>


</manifest>
